%% SLYK CASINO realtime engine — rebar3 config
{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.12.0"}
]}.

{relx, [
    {release, {slyk_realtime, "0.1.0"}, [slyk_realtime, sasl]},
    {mode, prod},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {include_erts, true},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod},
            {include_src, false}
        ]}
    ]}
]}.
